<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="Chrome"></parameter>
	<listeners>
	<listener class-name="generateReports.Listeners"></listener>
</listeners>

<test name="Chrome Test" thread-count="5">
	 <classes>
       <!-- class name="testScript.LoginTest"> -->
       <!-- class name="testScript.AdminUsersTest">-->
       <class name="testScript.ManageContactTest">
     <methods>
		<!-- <include name="verifyTheUserIsAbleToLoginUsingValidCredentials"> -->
		<!-- <include name="verifyUserCanCreateNewUserType"></include>-->
		<!-- <include name="verifyUserCanEditExistingUserDetails"></include>--> 
		 <include name="verifyUserIsAbleToEditContact"></include>
		<!-- <exclude name="verifyUserCanChangeStatus"></exclude> -->
	 </methods>
      </class>
    </classes>
    </test>
 </suite> <!-- Suite -->
